.large {
  padding: 50px;
}
.cardwidth {
  width: 20rem;
}
.margintopbottom {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margintopbottom10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardmin {
  min-width: 300px;
}
.green-color {
  background-color: green !important;
}
.amber-color {
  background-color: #FFBF00 !important;
}
.red-color {
  background-color: red !important;
}
.round-circle {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.ml12px {
  margin-left: 30px;
}

.squre-span {
}

.white-backgraound {
    background-color: #fff !important;
    border-color: #ffff !important;
    border: 0px solid #fff !important;
    border-right: #dee2e6 !important;
    border-left: #fff !important;
    padding: 0px !important;
}

.border-null {
    border: 0px solid #fff !important;
}

.width15{
    width: 15px;
}

.margin-top-50{
    margin-top:50px;
    height: 249px !important;
}

.color-red-icon {
    display: inline-block;
    height: -webkit-fill-available;
    width: 45px;
}

